body,
html {
  height: 100%;
}

h3, label, button {
  color:$white;
}

h1 {
  color: $navy;
  text-decoration: underline;
}

// .button{
//   background-color: lightblue;
//   color: $navy;

// }

button {
  color: $white;
  font-weight: bold;
  font-size: 1em;
  border-color: $hot-pink;
  background: url(../../assets/images/btn2.png) no-repeat;
  background-size: 150%;
  border-radius: 5px;
  padding: 8px 16px;
  margin: 4px 2px;
  border-style: solid;
  border-width: 2px;
}

a {
  color: $hot-pink;
}

p {
  color: $white;
  font-size: 1.4em;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 30px;
  width: 40%;
}

.regform {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 40%;
}

.form-signin {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 30px;
  width: 40%;
}

.review-form {
  display: flex;
  margin: 0 25px;
}

.textboxclass {
  height: 30px;
  width: 60%;
}
.party {
  background: linear-gradient(#03104276, rgba(255, 0, 204, 0.351)), 
  url(../images/movie.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 100px;
  left: 0;
}

.center {
  display: flex;
}

.event-bg-img {
  background: url(../images/landscape.png);
  background-repeat: no-repeat;
  background-size: cover;
  //position: relative;
  min-height: 100%;
  width: 100%;
  position: fixed;
  top: 100px;
  left: 0;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: $white;
    font-size: 1.2em;
  }
}

.bg-img-guests {
  background: url(../images/pablo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100%;
  width: 100%;
  position: fixed;
  top: 100px;
  left: 0;
}

.event-bg-img-signin {
  background: linear-gradient(#03104276, rgba(255, 0, 204, 0.351)), 
  url(../images/florian.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 100px;
  left: 0;
}

.text-signin {
  color: white;
  
}
.label {
  color: $white;
}

.form {
  color: $white;
}
.textboxstyle {
  width: 300px;
  height: 40px;
}

.form-right {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  label {
    margin: 5px 10px 5px 0;
    width: 25%;
  }
  margin: 0 25px;
  input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }

}

.single-event {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  ul {
    display: flex;
    background-color: $navy;
    filter: alpha(opacity=80);
    opacity: 0.7;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

.events-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

.event-list {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  color: $white;
}

.events-and-form {
  display: flex;
  margin: 0 25px;
  flex-direction: row;
}

.event-bg-img-all {
  background: 
  linear-gradient(#03104298, rgba(255, 0, 204, 0.351)),
  url(../images/fidel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 100px;
  left: 0;
  ul {
    display: flex;
    align-items: flex-end;
    color: $white;
    font-size: 1.2em;
  }
}

.event-bg-img-show {
  background: linear-gradient(#03104276, rgba(255, 0, 204, 0.351)),
  url(../images/alexander.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 100px;
    left: 0;
   
  li {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: $white;
    width: 60%;
    left: 1em;
    color: $black;
  }
}

.event-form-guests {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  
}
