body,
html {
  height: 100%;
}

 .callout.alert {
  background: $lightblue;
  color: $navy;
}

.alert {
  color: $hot-pink;
  background:rgb(83, 1, 67);
}

.app-header {
  color: $white;
  text-shadow: $hot-pink 0 0 3px,  lightblue 2px 2px 2px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 10vh;
  padding-right: 1vh;
  padding-bottom: 2vh;
}

p {
  color: $white;
  font-size: 1.4em;
}

.vertical {
  display: flex;
  margin: 0 25px;
}

.vertical-container {
  display: flex;

  flex-direction:column wrap;
  align-items: flex-start;
  margin: 0 25px;
}

.cute {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 25px;
  p {
    color: $hot-pink;
    font-size: 1em;
    font-weight: bold;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 30px;
  width: 40%;
}

.regform {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 40%;
}

.form-signin {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 30px;
  width: 40%;
}

.review-form {
  display: flex;
  margin: 0 25px;
}

.party {
  background: linear-gradient(#031042e8, rgba(255, 0, 204, 0.351)), 
  url(../images/movie.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 100px;
  left: 0;
}

.center{
  display: flex;
  justify-content: center;
}

.post-it {
  display: flex;
  margin: 0 15px;
  background: linear-gradient(#031042cb, rgba(255, 0, 204, 0.351));
  height: auto;
  min-width: 350px;
}

.row-fit {
  display: flex; 
  flex-flow: row wrap;
  justify-content: center;
  ul {
    width: 330px;
  }
}

.row-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  flex-flow: row wrap;
  padding-left: 10vh;
}

.event-bg-img {
  background: url(../images/landscape.png);
  background-repeat: no-repeat;
  background-size: cover;
  //position: relative;
  min-height: 100%;
  width: 100%;
  position: fixed;
  top: 100px;
  left: 0;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: $white;
    font-size: 1.2em;
  }
}

.bg-img-guests {
  background: url(../images/pablo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100%;
  width: 100%;
  position: fixed;
  top: 100px;
  left: 0;
}

.event-bg-img-signin {
  background: linear-gradient(#031042e1, rgba(255, 0, 204, 0.351)), 
  url(../images/florian.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 100px;
  left: 0;
  label {
    color: $white;
    font-size: 1.2em;
  }
}

.form {
  color: $white;
}

.textboxstyle {
  width: 300px;
  height: 40px;
}

.tile-box {
  width: 200px;
  height: auto;
}

.event-form-guests {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start; 
}

.div-tile {
  display: flex;
  flex-flow: row wrap;
  
}

.form-right {
  display: flex;
  width: 90%;
  flex-flow: row wrap;
  align-items: center;
  align-items: flex-end;
  margin: 0 25px;
}

.single-event {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  ul {
    display: flex;
    background-color: $navy;
    filter: alpha(opacity=80);
    opacity: 0.7;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

.events-left {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  ul {
    display: flex;
    flex-direction: column;
  }
}

.event-list {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  color: $white;
}

.events-and-form {
  display: flex;
  justify-content: space-around;
  margin: 0 25px;
  flex-direction: row;
}

.event-bg-img-all {
  background: linear-gradient(#031042fe, rgba(255, 0, 204, 0.351)),
  url(../images/two-sets.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 100px;
  left: 0;
  ul {
    display: flex;
    align-items: flex-end;
    color: $white;
    font-size: 1.2em;
  }
}

.event-bg-img-show {
  display: flex;
  flex-direction: row;
  background: linear-gradient(#03104276, rgba(255, 0, 204, 0.351)),
  url(../images/ledballoons.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 100px;
    left: 0;
   
  li {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: $navy;
    width: 60%;
    left: 1em;
    color: $white;
  }
}
  .react-calendar.hide {
    display: none;
  }



