@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import "./variables";

@import "./app.scss";
@import "./topbar.scss";
@import "./events.scss";

.menu {
    background-color: $navy;
    color: $hot-pink;
    font-size: 1.3em;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

