@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import "./variables";

@import "./app.scss";
@import "./topbar.scss";
@import "./events.scss";
@import "./buttons-labels.scss";
@import 'react-calendar/dist/Calendar.css';

.menu {
    background-color: $navy;
    color: $hot-pink;
    font-size: 1.3em;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.alert {
  display: flex;
  flex-direction: column;
  li {
    color: $navy;
  }
  font-size: 0.7em;
  color: $hot-pink;
  background:rgba(255, 0, 204, 0.351);
}

