@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@import "./variables";
@include foundation-everything;

button {
  color: $white;
  font-weight: bold;
  font-size: 1.1em;
  background: url(../../assets/images/btn2.png) no-repeat;
  background-size: 200%;
  width: 170px;
  border-radius: 2px;
  padding-left: 10vh;
  padding: 8px 16px;
  margin: 4px 2px;
  border-style: solid;
  border-width: 2px;
  border-color: $hot-pink;
  text-shadow: 2px 2px 5px #dd00ff;
  box-shadow: 2px 2px 5px $hot-pink;
  span {
    font-weight: bold;
  }
}

.app-header {
  text-shadow: #0057ee 0 0 10px, #dd00ff 5px 5px 5px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 10vh;
  padding-right: 1vh;
}

a {
  color: $hot-pink;
}

.glow-on-hover {
  width: 160px;
  font-weight: bold;
  height: 40px;
  border: none;
  outline: none;
  color: #fff;
  background: $hot-pink;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #4400ff, #ff00ff, #fffb00, #ff00c8, #7a00ff, #00ff7b, #ff00d4, #2f00ff, #00f7ff, #4400ff,);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 14px);
  height: calc(100% + 14px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 25px;
 
}

.glow-on-hover:active {
  color: $navy;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: $navy;
  left: 0;
  top: 0;
  border-radius: 10px;

}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}


.top-bar {
  display: flex;
  background: url(../../assets/images/background-logo.jpg);
  background-color: $navy;
  background-repeat: no-repeat;
  background-size: 150px 75px;
  height: 100px;
  width: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.top-bar-right {
  display: flex;
  flex-direction: column;
  background-color: $navy;
}

.top-bar-left {
  display: flex;
  margin-left: 70px;
}

.textboxclass {
  height: 30px;
  width: 40%;
}
