@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@import "./variables";
@include foundation-everything;

// .menu {
//   display: flex;
//   background-color: $navy;
//   color: $white;
// }
.top-bar {
  display: flex;
  
  background: url(../../assets/images/background-logo.jpg);
  background-color: $navy;
  background-repeat: no-repeat;
  background-size: 150px 75px;
  height: 100px;
  width: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.top-bar-right {
  display: flex;
  flex-direction: column;
  background-color: $navy;
}

.top-bar-left {
  display: flex;
  margin-left: 100px;
}

.textboxclass {
  height: 30px;
  width: 40%;
}

.hollow {
  margin: 7px;
  color: $white;
}

button-home {
  width: 200px;
  height: 100px;
 
}
